.big-files-content {
    display: flex;
    justify-content: center;
    margin-top: 3.5rem;
    margin-bottom: 5rem;

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        h2 {
            text-align: center;
            font-size: 3rem;
            letter-spacing: -1px;
            font-weight: 900;
            background: linear-gradient(135deg, #002b5c 30%, #5a2121 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .descriptions {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            max-width: 1000px;

            p {
                text-align: center;
                font-size: 1rem;
                line-height: 1.6rem;
            }
        }

        .datas {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
            margin-top: 4rem;

            .data {
                align-items: center;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
                background-color: var(--project-yellow-secondary-color);

                &:nth-child(3) {
                    display: flex;
                    grid-column: span 2;
                    gap: 2rem;

                    .image-wrapper {
                        height: 30rem;

                        img {
                            object-fit: cover;
                            object-position: top;
                        }
                    }
                }

                .image-wrapper {
                    position: relative;
                    width: 100%;
                    flex: 1;
                    height: 20rem;

                    img {
                        object-fit: cover;
                        object-position: top;
                    }
                }

                .texts {
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    flex: 1;
                    padding: 1.5rem 1rem;

                    h3 {
                        color: #002b5c;
                        font-size: 1.5rem;
                        letter-spacing: -1px;
                        font-weight: 900;
                    }

                    .points {
                        display: flex;
                        flex-direction: column;
                        gap: 0.5rem;

                        p {
                            font-size: 0.95rem;
                            line-height: 1.5rem;
                        }
                    }
                }
            }
        }
    }


}

@media all and (max-width: 1024px) {
    .big-files-content {
        .content {

            h2 {
                font-size: 2.5rem;
            }

            .descriptions {
                p {
                    font-size: 0.95rem;
                    line-height: 1.5rem;
                }
            }

            .datas {
                gap: 1rem;
            }
        }
    }
}


@media all and (max-width: 870px) {
    .big-files-content {
        .content {

            h2 {
                font-size: 2.2rem;
            }

            .datas {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .data {
                    &:nth-child(3) {
                        display: flex;
                        flex-direction: column;
                        flex: 1 0 auto;
                        gap: 1rem;

                        .image-wrapper {
                            height: 20rem;
                            flex: 1 0 auto;

                            img {
                                object-fit: cover;
                                object-position: top;
                            }
                        }
                    }
                }
            }
        }
    }
}