<section class="counter-section">
    <img ngSrc="../../../../../../images/jeune-congolais.png" alt="" fill>

    <div class="content my-container">

        <h2>Mobilisation des jeunes</h2>

        <div class="content-wrapper">

            <div class="counter-container">
                <div class="counter-card">
                    <span class="number">{{ digitsGroups()[0] }}</span>
                </div>

                <div class="counter-card">
                    <span class="number">{{ digitsGroups()[1] }}</span>
                </div>

                <div class="counter-card">
                    <span class="number">{{ digitsGroups()[2] }}</span>
                </div>

            </div>

            <a routerLink="grands-dossiers">Voir les détails</a>

        </div>

    </div>
</section>