<div class="challenge-hero skeleton-mode">
    <!-- Fond animé -->
    <div class="skeleton-bg"></div>

    <div class="content header-container">
        
        <!-- Zone Textes (Gauche) -->
        <div class="texts">
            <!-- H1 simulé -->
            <div class="sk-line h1 w-80"></div>
            
            <!-- P simulé -->
            <div class="sk-line p w-100 mt-2"></div>
            <div class="sk-line p w-90"></div>
            <div class="sk-line p w-60"></div>
        </div>

        <!-- Zone Compteur (Droite) -->
        <div class="visitors-counter skeleton-box">
            <div class="sk-line counter w-100"></div>
            <div class="sk-line p w-150 mt-1"></div>
        </div>

    </div>
</div>