<header #header>
  <div class="content header-container">
    <img class="logo blue-logo" routerLink="" ngSrc="../../../../assets/img/header/logo-matomba-2025.webp" alt="Logo du site web campagne du président Denis Sassou Nguesso" width="200" height="60" priority/>
    <img class="logo white-logo" routerLink="" ngSrc="../../../../assets/img/header/logo-matomba-cameroun-president-white.webp" alt="Logo du site web campagne du président Denis Sassou Nguesso" width="200" height="60" priority/>

<!--
    <div
      class="burger"
      [ngClass]="displayMenu === true ? 'show-cross' : ''"
      (click)="onBurgerMenu()"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
-->
  </div>
</header>