<header #header>
  <div class="content header-container">
    <div class="left">
      <img class="white-logo" routerLink="" ngSrc="../../../../../images/logos/logo-white.webp" alt="Logo du site web campagne du président Denis Sassou Nguesso" width="180" height="40" priority/>
      <img class="black-logo" routerLink="" ngSrc="../../../../../images/logos/logo-black.webp" alt="Logo du site web campagne du président Denis Sassou Nguesso" width="180" height="40" priority/>
    </div>

    <nav>
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
        </li>
        <li >
          <a routerLink="/biographie" routerLinkActive="active-link">Biographie</a>
        </li>
        <li>
          <a routerLink="/grands-dossiers" routerLinkActive="active-link">Grands Dossiers</a>
        </li>
        <li>
          <button (click)="openProjectModal()">Projet de société</button>
        </li>
      </ul>
    </nav>
    
    <div
      class="burger"
      [class]="displayMenu === true ? 'show-cross' : ''"
      (click)="onBurgerMenu()"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

    <p-dialog
    [(visible)]="displayMenu"
    position="right"
    [draggable]="false"
    [blockScroll]="true"
    header="DSN 2026"
    styleClass="nav-small-screen"
    maskStyleClass="mask-nav-small-screen"
  >
    <app-nav-small-screen
      (onNavigationOnSmallScreenEvent)="menuForSmallScreenHandler($event)"
    >
    </app-nav-small-screen>
  </p-dialog>

  <p-dialog 
    [(visible)]="displayProjectModal" 
    [modal]="true" 
    [draggable]="false" 
    [resizable]="false"
    [blockScroll]="true"
    [showHeader]="false"
    styleClass="project-dialog"
    maskStyleClass="mask-project"
    [style]="{width: '1000px', maxWidth: '95vw'}"
    >    
    <app-program (closeEventTrigger)="onCloseEventHandler($event)"></app-program>
  </p-dialog>
</header>