<header #header>
  <div class="content header-container">
    <div class="left">
      <img class="logo" routerLink="" ngSrc="../../../../../images/parti-congolais-du-travail.png" alt="Logo du site web campagne du président Denis Sassou Nguesso" width="80" height="80" priority/>
      <p>
        PARTI <br>
        CONGOLAIS <br>
        DU TRAVAIL
      </p>
    </div>

<!--
    <nav>
      <ul>
        <li>
          <a>Biographie</a>
        </li>
        <li>
          <a>Biographie</a>
        </li>
      </ul>
    </nav>

    <div
      class="burger"
      [ngClass]="displayMenu === true ? 'show-cross' : ''"
      (click)="onBurgerMenu()"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
-->
  </div>
</header>