<div class="public-wrapper">
  <app-challenge-hero [imageUrl]="imageUrl()" [isRevealed]="isRevealed()" [count]="currentViews()">
  </app-challenge-hero>

  <app-global-counter [count]="totalVisits()">
  </app-global-counter>

  <app-snapfilter-section
      [filters]="filters()"
      [totalUsage]="totalFilterUsage()"
      [isLoading]="filtersLoading()"
      (filterClick)="onFilterClick($event)"> <!-- Écoute l'event de clic -->
    </app-snapfilter-section>

  <app-about-candidate></app-about-candidate>
</div>