.big-files-hero {
    position: relative;
    height: 41rem;

     &::after {
        position: absolute;
        content: "";
        background-color: rgba(0, 0, 0, 0.384);
        width: 100%;
        height: 100%;
    }

    img {
        object-fit: cover;
        object-position: top;
    }
}

@media all and (max-width: 768px) {
    .big-files-hero{
        height: 23rem;
    }
}

@media all and (max-width: 560px) {
    .big-files-hero {
        height: 20rem;
    }
}