.challenge-hero {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;

    &::after {
        position: absolute;
        content: "";
        background-color: rgba(0, 0, 0, 0.384);
        width: 100%;
        height: 100%;
    }

    img {
        object-fit: cover;
        object-position: top;
    }

    .content {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;
        width: 100%;
        height: 100%;
        padding-bottom: 2rem;
        gap: 3rem;

        .texts {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            z-index: 4;
            color: var(--project-white-primary-color);

            h1 {
                font-size: 3rem;
                letter-spacing: -1px;
                font-weight: 900;
                line-height: 1;
            }

            p {
                max-width: 600px;
                font-size: 1rem;
                line-height: 1.4;
            }
        }

        .visitors-counter {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            z-index: 4;
            background-color: var(--project-white-primary-color);
            border-radius: 0.8rem;
            padding: 1rem;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

            .counter {
                font-size: 3rem;
                line-height: 1;
                font-weight: 900;
                background: linear-gradient(135deg, #002b5c 30%, #5a2121 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

}

@media (max-width: 1024px) {
    .challenge-hero {
        .content {
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            padding-bottom: 2rem;

            .texts {
                gap: 1rem;

                h1 {
                    font-size: 3rem;
                    text-align: center;
                }

                p {
                    text-align: center;
                }
            }

            .visitors-counter {
                background-color: var(--project-white-primary-color);
                border-radius: 0.8rem;
                padding: 1rem;

                .counter {
                    font-size: 2.5rem;
                }
            }
        }

    }
}

@media (max-width: 680px) {
    .challenge-hero {
        height: 80vh;
        .content {
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            padding-bottom: 2rem;

            .texts {
                gap: 1rem;

                h1 {
                    font-size: 2.2rem;
                    text-align: center;
                }

                p {
                    text-align: center;
                }
            }

            .visitors-counter {
                background-color: var(--project-white-primary-color);
                border-radius: 0.8rem;
                padding: 1rem;

                .counter {
                    font-size: 2rem;
                }
            }
        }

    }
}