.challenge-hero {
    position: relative;
    height: 100vh;
    width: 100%;

    &::after {
        position: absolute;
        content: "";
        background-color: rgba(0, 0, 0, 0.384);
        width: 100%;
        height: 100%;
    }

    img {
        object-fit: cover;
        object-position: top;
    }
}