<div class="challenge-hero">
    <img [ngSrc]="imageUrl()" alt="Denis Sassou Nguesso" fill priority>

    <div class="content header-container">
        <div class="texts">
            <h1>DENIS SASSOU NGUESSO</h1>
            <p>
                Votre présence ici témoigne de notre force commune. Unissons nos voix et nos couleurs pour le triomphe
                de la paix et du développement.
            </p>
        </div>

        @if (isRevealed() === false) {
        <div class="visitors-counter">
            <!-- Chiffre principal -->
            <span class="counter">{{ displayCount() | number}}</span>
            
            <!-- Détails (Loader + Texte) -->
            <div class="counter-details">
                
                <!-- Loader Circulaire -->
                <div class="circular-loader">
                    <svg width="40" height="40" viewBox="0 0 40 40">
                        <!-- Cercle de fond -->
                        <circle cx="20" cy="20" r="18" class="bg"></circle>
                        
                        <!-- Cercle de progression -->
                        <!-- stroke-dasharray="113" correspond à la circonférence complète -->
                        <circle cx="20" cy="20" r="18" class="progress" 
                                stroke-dasharray="113"
                                [style.stroke-dashoffset]="strokeDashoffset()">
                        </circle>
                    </svg>
                    <!-- Pourcentage au centre (Optionnel) -->
                    <span class="percent">{{ displayProgress() | number:'1.0-0' }}%</span>
                </div>

                <!-- Texte -->
                <div class="labels">
                    <span>CITOYENS</span>
                    <span>ENGAGÉS</span>
                </div>

            </div>
        </div>
        }
    </div>
</div>