.challenge-hero {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;

    &::after {
        position: absolute;
        content: "";
        background-color: rgba(0, 0, 0, 0.384);
        width: 100%;
        height: 100%;
    }

    img {
        object-fit: cover;
        object-position: top;
    }

    .content {
        display: flex;
        align-items: flex-end;
        position: relative;
        width: 100%;
        height: 100%;
        padding-bottom: 2rem;

        .texts{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            z-index: 4;
                color: var(--project-white-primary-color);

            h1{
                font-size: 3rem;
                letter-spacing: -1px;
                font-weight: 900;
            }

            p{
                max-width: 600px;
                font-size: 1rem;
                line-height: 1.4;
            }
        }

        .visitors-counter {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            z-index: 4;
            position: absolute;
            right: 1rem;
            bottom: 2rem;
            background-color: var(--project-white-primary-color);
            border-radius: 0.8rem;
            padding: 1rem;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

            .counter {
                font-size: 3rem;
                line-height: 1;
                font-weight: 900;
                background: linear-gradient(135deg, #002b5c 30%, #5a2121 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }

}