<div class="challenge-hero">
    @if (imageUrl()) {
    <img [ngSrc]="imageUrl()" fill priority>
    }

    <div class="content header-container">

        <div class="texts">
            <h1>DENIS SASSOU-NGUESSO</h1>
            <p>
                Votre présence ici témoigne de notre force commune. Unissons nos voix et nos couleurs pour le triomphe
                de la paix et du développement.
            </p>
        </div>

        @if (isRevealed() === false) {
        <div class="visitors-counter">
            <span class="counter">{{ displayCount() }}</span>
            <p>Citoyens Congolais mobilisés</p>
        </div>
        }
    </div>
</div>