@import url("variables.scss");
@import "primeicons/primeicons.css";

@layer reset, primeng;

@layer reset {

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: 'Inter', sans-serif;
    }


    .header-container {
        max-width: 1400px;
        padding: 0 1rem;
    }

    .my-container {
        max-width: 1300px;
        padding: 0 1rem;
    }

    a {
        cursor: pointer;
        text-decoration: none;
    }
}

@layer primeng {
    .p-overlay-mask {
        // On remplace le noir uni par un effet de profondeur
        background: rgba(0, 0, 0, 0.85) !important;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        display: flex;
        justify-content: center;
        align-items: center;

        // Effet de drapeau en arrière-plan du masque
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            // Dégradé diagonal aux couleurs du Congo (Vert, Jaune, Rouge)
            background: linear-gradient(135deg, 
                rgba(0, 107, 63, 0.2) 0%,   /* Vert */
                rgba(251, 255, 0, 0.1) 45%, /* Jaune */
                rgba(251, 255, 0, 0.1) 55%, /* Jaune */
                rgba(206, 17, 38, 0.2) 100% /* Rouge */
            );
            z-index: -1;
            pointer-events: none;
        }
    }
}