@import url("variables.scss");
@import "primeicons/primeicons.css";

@layer reset, primeng;

@layer reset {

    *,
    *::before,
    *::after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

    body {
        margin: 0;
        font-family: 'Inter', sans-serif;
    }


    .header-container {
        max-width: 1400px;
        padding: 0 1rem;
    }

    .my-container {
        max-width: 1300px;
        padding: 0 1rem;
    }

    a {
        cursor: pointer;
        text-decoration: none;
    }
}

@layer primeng {
    .p-overlay-mask {
        // On remplace le noir uni par un effet de profondeur
        background: rgba(0, 0, 0, 0.111) !important;
    }
}