
:root{
    --project-yellow-primary-color: #fbd54b;
    --project-yellow-secondary-color: #fef4d6;
    --project-yellow-tertiary-color: #dddbd3;
    --project-black-primary-color : #121212;
    --project-black-secondary-color : #595959;
    --project-black-tertiary-color : #cfcfcf;
    --project-green-primary-color: #2a5d46;
    --project-green-secondary-color: #55b6b2;
    --project-green-tertiary-color: #eaefeb;
    --project-green-quaterly-color: #4a9660;
    --project-red-primary-color: #d31a1a;
    --project-red-secondary-color: #fe6969fc;
    --project-red-tertiary-color: #f9d8d8fc;
    --project-white-primary-color : #fefefe;
    --project-white-secondary-color : #ffffffb3;

}